@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,100;1,200;1,300;1,500;1,800;1,900&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.resize-image{
    width:auto;
    height: auto;
    border:4px solid black;
}
.resize-image:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: 2s all ease;
}
.main-div{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}
.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px;
}
.Name{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
    color:rgb(0, 140, 255);
    font-size: 50px;
}
.nav-components{
    display: flex;
    align-items: center;
}
.link{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-weight: 600;
    font-size:17px;
}
.link:hover{
    color: rgb(68, 68, 68);
}
.header-form{
    display: flex;
    align-items: center;
    border:2px double rgb(0, 140, 255);
    border-radius: 0px 0px 4px  0px;
}
.input{
	background-color:transparent;
	border:none;
	outline: none;
    margin-left: 10px;
    border-radius:none;
}
.inside{
    width:150px;
	height:40px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);   
}
button{
    border:none;
    padding:10px 20px;
    background-color:black;
    color:white;
    border-radius: 0px;
}
button:hover{
    background-color:rgb(92, 86, 86);
    cursor: pointer;
    transition: 2s all ease;
}

/* responsive part*/

@media (max-width: 580px)
{
    .nav-components{
        display: none;
    }
    .header-navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px 20px;
    }
    .Name{
        font-size: 15px;
    }
    .logo{
        font-size: 40px;
    }
    .main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resize-image{
        width:300px;
        height: auto;
        border:4px solid black;
    };

};


@media (max-width: 480px)
{
    .nav-components{
        display: none;
    }
    .header-navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px 20px;
    }
    .Name{
        font-size: 15px;
    }
    .logo{
        font-size: 40px;
    }
    .main-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resize-image{
        width:300px;
        height: auto;
        border:4px solid black;
    };

};



@media (max-width: 720px)
{
    .nav-components{
        display: none;
    }
    .header-navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px 20px;
    }
    .Name{
        font-size: 15px;
    }
    .logo{
        font-size: 40px;
    }
    .main-div{
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .resize-image{
        width:400px;
        height: auto;
        border:4px solid black;
    };
};
@media (max-width: 1290px)
{
   
}
